html, body {
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
}

@font-face{
    font-family: Montserrat-Light-Local;
    src:url("fonts\\Montserrat\\Montserrat-Light.otf") format("opentype")
}

@font-face{
    font-family: Montserrat-Medium-Local;
    src:url("fonts\\Montserrat\\Montserrat-Medium.otf") format("opentype")
}

@font-face{
    font-family: Montserrat-Thin-Local;
    src:url("fonts\\Montserrat\\Montserrat-Thin.otf") format("opentype")
}
header nav.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(18, 27, 34);
    position: sticky;
    text-outline: 0;
    background-color: rgb(20, 26, 31);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}

header nav.navbar .logo{
    height: 80px;
    width: auto;
    margin-left: 20px;
}

header nav.navbar .logo img{
    height: 100%;
    object-fit: cover;
}

header nav.navbar .title{
    padding: 2rem 2rem;
    font-size: 3rem;
    line-height: 0px;
    font-style: italic;
    font-family: 'Imbue', serif;
    text-align: center;
    color: white;
    border-left: 2px solid rgb(255, 65, 87);
    border-right: 2px solid rgb(255, 65, 87);
    border-top: 2px solid rgb(255, 65, 87);
    border-bottom: 2px solid rgb(255, 65, 87);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header nav.navbar .links {
    display: flex;
    justify-content: end;
}

header nav.navbar .links a{
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 5px 2rem;

}

header nav.navbar .links a:hover{
    color: rgb(255, 65, 87);

}

header nav.navbar .links .link{
    padding: 1.5rem 0;
    position: relative;
    border-left: 1px solid rgb(255, 65, 87);
    margin-top: 5px;
    margin-bottom: 5px;
}
 
header nav.navbar .links .link .dropdown{
    position: absolute;
    z-index: 10;
    background-color:rgb(20, 26, 31);  
    margin-top: 1.5rem;
    border-radius: 5px;
    display: none;
    position: absolute;
}

header nav.navbar .links .link .dropdown .dropdown-item{
    padding: 2rem 2rem;
    margin-top: 1rem 0;
    white-space:nowrap;
    
}
header nav.navbar .links .link:hover .dropdown{
    display: block;
}

main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
    margin-bottom: 50px;
    margin-top: 30px;
}

main .ligne2 {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 275px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

main .ligne2 .c5{
    width: 20%;
    height: 100%;
    border: 3px solid rgb(20, 26, 31);

}

main .ligne2 .c6{
    width: 20%;
    height: 100%;
    border: 3px solid rgb(20, 26, 31);

}

main .ligne2 .c7{
    width: 20%;
    height: 100%;
    border: 3px solid rgb(20, 26, 31);
}

main .ligne2 .c8{
    width: 20%;
    height: 100%;
    border: 3px solid rgb(20, 26, 31);
}

main img {
    width: 100%;
    height: 100%;
}


footer{
    background-color: rgb(20, 26, 31);
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin-top: 70px;
}

footer .button-footer{
    transition: 0.2s;
    transform:scale(1);
    width: 50px;
    height: 50px;
    float: right;
    background-color: rgb(255, 65, 87);
    border-color: rgb(255, 65, 87);
    border-radius: 10px;
    font-size: 1.5rem;
    color:rgb(18, 27, 34) ;
    margin-top: 25px;
    margin-right: 30px;
}

footer .button-footer:hover {
    transition: 0.2s;
    transform:scale(1.2);
}

footer .bas-contact {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 1rem 1rem;
    border-left: 2px solid rgb(255, 65, 87) ;
}

footer .bas-contact:hover {
    color:rgb(255, 65, 87)  ;
}